<div class="block">
  <header>
    <div class="logoImg">
      <div class="img">
        <img  src="..//..//5a226c92192bc3.8324583515122054581031.png"  >
      </div>
      <div class="name">
        <h1>
          Автозапчастини
        </h1>
        <h2>
          Нові та б\у, в наявності та під замовлення!
        </h2>
        <h3>
          м. Львів, вул. Городоцька
        </h3>
        <h2 class="tel"> 093-00-00-000<br>
          067-00-00-000<br>
          050-00-00-000
        </h2>
      </div>
    </div>
      <div class="menu">
        <a routerLink="/home">
          Головна
        </a>
        <a routerLink="/gallery">
          Галерея
        </a>
        <a routerLink="/delivery">
          Доставка та оплата
        </a>
        <a routerLink="/order">
          Оформити замовлення
        </a>
        <a routerLink="/reviews">
          Відгуки
        </a>
      </div>
  </header>
</div>
