<div class="block">
    <div class="content">
        <h1>Доставка</h1>
        <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Ullam nisi enim vero in incidunt? In quas quod eius animi, 
         debitis qui, ad itaque aspernatur autem impedit fuga et culpa fugit.
         Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Ullam nisi enim vero in incidunt? In quas quod eius animi, 
         debitis qui, ad itaque aspernatur autem impedit fuga et culpa fugit.
         Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Ullam nisi enim vero in incidunt? In quas quod eius animi, 
         debitis qui, ad itaque aspernatur autem impedit fuga et culpa fugit.
        </p><br />
        <h1>Оплата</h1>
        <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Ullam nisi enim vero in incidunt? In quas quod eius animi, 
         debitis qui, ad itaque aspernatur autem impedit fuga et culpa fugit.
         Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Ullam nisi enim vero in incidunt? In quas quod eius animi, 
         debitis qui, ad itaque aspernatur autem impedit fuga et culpa fugit.
         Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Ullam nisi enim vero in incidunt? In quas quod eius animi, 
         debitis qui, ad itaque aspernatur autem impedit fuga et culpa fugit.
        </p><br />
    </div>
</div>