<div class="block">
  <div class="content">
    <div class="gallery">
      <div class="gallImg">
        <img  src="..//..//img/1644524.jpg" >
      </div>
      <div class="gallImg" >
        <img  src="..//..//img/504_big.jpg" >
      </div>
      <div class="gallImg">
        <img  src="..//..//img/7-avtorazborka-vw-touareg-zapchasti-chasti-kuzova.jpg" >
      </div>
      <div class="gallImg">
        <img  src="..//..//img/AudiA6Dvigatel-2.7d.jpg" >
      </div>
      <div class="gallImg"> 
        <img  src="..//..//img/Hyundai-IX35Diski.jpg" >
      </div>
      <div class="gallImg">
        <img  src="..//..//img/avtorazborka-400x300.jpg" >
      </div>
      <div class="gallImg">
        <img  src="..//..//img/avtorazborka-razborka-shrot-zapchasti-bu-hunday_5b6b218569ee4.jpg" >
      </div>
      <div class="gallImg">
        <img  src="..//..//img/avtozapchasti_by.jpg" >
      </div>
      <div class="gallImg">
        <img  src="..//..//img/razborka-mazda-626---ge---1-8--h-b--94-g--kiev--avtorazborka-photo-810c.jpg" >
      </div>
    </div>
  </div>
</div>