<div class="block">
  <div class="content">
      
    <h1 style="margin-top: 50px;">Про нас</h1>
    <p>
    Ми раді вітіти Вас на нашому сайті. Наша компанія займається продажем автозапчастин.У нашому магазині 
Ви знайдете великий вибір якісних запчастин до французьких і німецьких авто, бусів, 
а також акумулятори, моторні оливи. Ми використовуємо автозапчастини відомих виробників: 
TRW, Ferodo, Textar, Delphi, Brembo, RUVILLE, SASIC, KYB, Bosch. У нас працюють лише компетентні 
спеціалісти, які швидко і якісно підберуть усі необхідні запчастини до Вашого автомобіля,
тому Вам не доведеться довго затримуватися на автосервісі. Також Ви можете здійснити замовлення 
товарів через інтернет. Пропонуємо автозапчастини вроздріб, дрібним і великим гуртом. 
Магазин запрошує до співпраці СТО а також усіх власників французьких і німецьких автомобілів.
Діє гнучка система знижок.
    </p><br />
    <h1>Контакти</h1>
    <p>
 Телефон: 093-00-00-000, 067-00-00-000, 050-00-00-000<br />
 Емейл: avt00@.gmail.com<br />
 Адреса: м. Львів, вул. Городоцька 500<br />

    </p><br />
    <h1>Гарантія</h1>
    <p>На всі придбані у магазині товари поширюється дія Закону України «Про захист прав споживачів»
 № 1023-XII від 12 травня 1991 року. Працездатність запропонованої вам продукції гарантується виробником
 і забезпечується в акредитованих виробником сервісних центрах.
Повернення автозапчастин здійснюються не пізніше 14 днів з моменту отримання товару. 
Оплатити своє замовлення ви можете безпосередньо при отриманні товару в офісі кур`єрської служби
У випадку відсутності в паспорті придбаної вами техніки координат сервісного центру, уточняйте їх
адресу за телефонами зазначеними на головній сторінці нашого сайту.  
Повернення автозапчастин розглядаються не пізніше 14 днів з моменту отримання товару.
Повернення можливе тільки в тому випадку якщо, мітки, деталі та упакування залишилися в такому ж стані,
 в якому були при отриманні.
    </p><br />
    <h1>Як зробити замовлення</h1>
    <p>
Щоб зроти замовлення Вам потрібно заповнити <a  routerLink="/order">форму замовлення</a> та відправити її нам. 
Наші менеджери перевірять наявність чи можлиість замовлення даної запчастини та зателефонують вам протягом години. 
Також ви можете здійснити замовлення по телефону. 
    </p><br />

  </div>
</div>